{
  "Actions": [
    {
      "Name": "CameraRotate",
      "KeyboardCode": "mouse3",
      "GamepadCode": "None",
      "GroupName": "Camera",
      "Title": null
    },
    {
      "Name": "CameraPan",
      "KeyboardCode": "mouse2",
      "GamepadCode": "None",
      "GroupName": "Camera",
      "Title": null
    },
    {
      "Name": "CameraPanUp",
      "KeyboardCode": "w",
      "GamepadCode": "None",
      "GroupName": "Camera",
      "Title": null
    },
    {
      "Name": "CameraPanDown",
      "KeyboardCode": "s",
      "GamepadCode": "None",
      "GroupName": "Camera",
      "Title": null
    },
    {
      "Name": "CameraPanLeft",
      "KeyboardCode": "a",
      "GamepadCode": "None",
      "GroupName": "Camera",
      "Title": null
    },
    {
      "Name": "CameraPanRight",
      "KeyboardCode": "d",
      "GamepadCode": "None",
      "GroupName": "Camera",
      "Title": null
    },
    {
      "Name": "CarDriveForward",
      "KeyboardCode": "w",
      "GamepadCode": "None",
      "GroupName": "CarControls",
      "Title": null
    },
    {
      "Name": "CarDriveBackward",
      "KeyboardCode": "s",
      "GamepadCode": "None",
      "GroupName": "CarControls",
      "Title": null
    },
    {
      "Name": "CarDriveLeft",
      "KeyboardCode": "a",
      "GamepadCode": "None",
      "GroupName": "CarControls",
      "Title": null
    },
    {
      "Name": "CarDriveRight",
      "KeyboardCode": "d",
      "GamepadCode": "None",
      "GroupName": "CarControls",
      "Title": null
    },
    {
      "Name": "Interact",
      "KeyboardCode": "mouse1",
      "GamepadCode": "None",
      "GroupName": "Core",
      "Title": null
    },
    {
      "Name": "ExitVehicle",
      "KeyboardCode": "mouse2",
      "GamepadCode": "None",
      "GroupName": "CarControls",
      "Title": null
    },
    {
      "Name": "Build",
      "KeyboardCode": "mouse1",
      "GamepadCode": "None",
      "GroupName": "Building Mode",
      "Title": null
    },
    {
      "Name": "Cancel",
      "KeyboardCode": "mouse2",
      "GamepadCode": "None",
      "GroupName": "Building Mode",
      "Title": null
    },
    {
      "Name": "PlaceTree",
      "KeyboardCode": "t",
      "GamepadCode": "None",
      "GroupName": "Building Mode",
      "Title": null
    },
    {
      "Name": "PlaceCactus",
      "KeyboardCode": "y",
      "GamepadCode": "None",
      "GroupName": "Building Mode",
      "Title": null
    },
    {
      "Name": "PlaceFactory",
      "KeyboardCode": "u",
      "GamepadCode": "None",
      "GroupName": "Building Mode",
      "Title": null
    },
    {
      "Name": "Rotate",
      "KeyboardCode": "mouse3",
      "GamepadCode": "None",
      "GroupName": "Building Mode",
      "Title": null
    }
  ],
  "__guid": "829d47ac-9548-459a-8d5b-0a629da3e251",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}